<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboard.member.dao.MemberDAO">

	<select id="login" parameterType="kr.ac.kopo.member.vo.LoginVO"
		resultType="kr.ac.kopo.member.vo.MemberVO">
		select * from t_member
		where id=#{id} and
		password=#{password}
	</select>

	<insert id="join" parameterType="kr.ac.kopo.member.vo.MemberVO">
		insert into t_member(no,id,password,name,address)
		values(seq_t_member_no.nextval,#{id},#{password},#{name},#{address})
	</insert>

</mapper>
