<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- @autowired 에 의해서 자동 주입됨 -->
	<context:annotation-config/>
	<bean id="car" class="di.anno01.Car"/>
	<bean id="tire" class="di.anno01.HankookTire"/>
	<bean id="hankookTire" class="di.anno01.HankookTire"/>
	<bean id="kumhoTire" class="di.anno01.KumhoTire"/>
	
	
</beans>
<!-- context가 제공하는 새로운 태그 사용가능 ex)annotation
xsi:schemaLocation에는 한쌍으로 진짜 로케이션을 적어줌 -->