<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="hankookTire" class="di.xml01.HankookTire"></bean>
	<bean id="kumhoTire" class="di.xml01.KumhoTire"></bean>

	<!-- Car c1= new Car(new HankkokTire()); 생성자 주입 -->

	<bean id="car" class="di.xml01.Car">
		<constructor-arg ref="hankookTire"></constructor-arg>
	</bean>

	<!-- Car car1=Car("genesis",hankookTire) -->
	<bean id="car1" class="di.xml01.Car">
		<constructor-arg value="genesis"></constructor-arg>
		<constructor-arg ref="hankookTire"></constructor-arg>
	</bean>

	<!-- 인자의 순서바꿔본다. -> 돌아감 -> 파라미터순서가 원래는 영향을 미치지만 이건 괜찮아 Car car2=Car(hankookTire,"genesis") 
		정확하게 하고 싶으면 index줄수도 있음 <constructor-arg ref="hankookTire" index="0"></constructor-arg> -->
	<bean id="car2" class="di.xml01.Car">
		<constructor-arg ref="hankookTire"></constructor-arg>
		<constructor-arg value="genesis"></constructor-arg>
	</bean>


	<bean id="car3" class="di.xml01.Car">
		<constructor-arg value="genesis" index="0"></constructor-arg>
		<constructor-arg value="2020" type="int" index="1"></constructor-arg>
		<constructor-arg ref="hankookTire" index="2"></constructor-arg>
	</bean>



	<!-- 이렇게도 쓸 수 있다 -->
	<!-- <bean id="car" class="di.xml01.Car"> <constructor-arg ref="hankookTire"></constructor-arg> 
		</bean> -->
	<bean id="car4" class="di.xml01.Car">
		<constructor-arg>
			<ref bean="hankookTire" />
		</constructor-arg>
	</bean>


	<!-- list 사용 setter로 주입 -->
	<bean id="car5" class="di.xml01.Car">
		<property name="driver">
			<list>
				<value>엄마</value>
				<value>아빠</value>
				<value>오빠</value>
				<value>동생</value>
			</list>
		</property>
	</bean>

	<bean id="car6" class="di.xml01.Car">
		<property name="map">
			<map>
				<entry key="make" value="Toyota" />
				<entry key="model" value="Camry" />
				<entry key="year" value="2023" />
			</map>
		</property>
	</bean>







</beans>
