<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task.xsd">

	<context:component-scan
		base-package="kr.ac.kopo" />

	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:default-servlet-handler /> <!-- 리소스들 handler -->
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" /> <!-- jsp 위치 자동 설정 -->
	</mvc:view-resolvers>

	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url"
			value="jdbc:oracle:thin:@192.168.119.119:1521/dink11.dbsvr"></property>
		<property name="username" value="scott"></property>
		<property name="password" value="tiger"></property>

	</bean>

	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="classpath:config/mybatis/mybatis-config.xml"></property>
		<property name="mapperLocations"
			value="classpath:mapper/*.xml"></property>
	</bean>

	<bean id="sqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>


	<!-- interceptors설정 -->
	<mvc:interceptors>

		<mvc:interceptor>
			<mvc:mapping path="/**/" />
			<bean id="localeChangeInterceptor"
				class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
				<property name="paramName" value="locale" />
				<!--다국어 locale값을 보내주는 param명입니다. http://localhost:8080/springboard/login?locale=en -->
				<!--다국어 locale값을 보내주는 param명입니다. http://localhost:8080/springboard/login?language=en -->
			</bean>
		</mvc:interceptor>

		<mvc:interceptor>
			<mvc:mapping path="/**/" /><!-- 모든파일 -->
			<!-- <mvc:exclude-mapping path="/login"/> <mvc:exclude-mapping path="/board"/> 
				uri <mvc:exclude-mapping path="/resources/**"/> <ref bean="loginInterceptor"/> -->
			<mvc:exclude-mapping path="/login" />
			<mvc:exclude-mapping path="/board" />
			<mvc:exclude-mapping path="/resource/**" />
			<ref bean="testInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<tx:annotation-driven
		transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>locale.messages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />
	<!-- src/main/resource/locale/messages_kr.properties,messages_en.properties,messages_jp.properties 
		(locale=kr) -->

	<task:scheduled-tasks>
		<task:scheduled ref="myScheduler" method="crontest"
			cron="0/5 * * * * ?" />
	</task:scheduled-tasks>

<!-- crontest2 -->
	<task:annotation-driven scheduler="scheduler" />
	<task:scheduler id="scheduler" pool-size="10" />


</beans>